.banner__img-w {
  @media (max-width : 1854px) {
padding-right: calc((100% - 1280px)/2);
transform: translateX(350px);
}
  @media (max-width : 1570px) {
    padding-right: calc((100% - 1170px)/2);
  }
  @media only screen and (max-width : 1450px) {    
 transform: translateX(390px);   
  }
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
    transform: translateX(570px);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}



@media (max-width : 1757px) {
     .footer__logo {
   width: 144px;
   img {
     max-width: 100%;
   } 
  }
    .footer__contacts {
    .top__phone {
      font-size: 16px;
    }
  }
}

@media (max-width : 1570px) {
  .contain {
    max-width: 1170px;
  }
  .logo {
    margin-right: 28px;
  }
  .logo__img-wrap {
    width: 180px;
  }
  .logo__slogan {
    font-size: 10px;
  }

  .footmap,
  .footconts {
    width: 50%;    
            flex: none;
  }
  .footconts {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

}

@media (max-width : 1450px) {
  .header-o {
    .header__bar {
      background-color: rgba(#FFF, 0.5);
      height: 100vh;
      display: none;
    }
  }
  .header__bar {
    display: none;
  }
}

@media only screen and (max-width : 1199px) {
  .contain {
    max-width: 970px
  }    
  .logo {
   order: 0; 
  }
  .col-mnu {    
    order: 2;
    }
    .top {
    .top__contacts {
    order: 1;    
  }
}
  .banner {
    padding-bottom: 126px;
  }

  .col-mnu {
    margin-left: 20px;
  }

.open-mnu-close {
  display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(#a01f30, 1) url(../img/close.svg) no-repeat center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 15px;
}

  .top__mnu {
    display: block;
    position: absolute;    
    background-color: #FFF; 
    width: 100%;    
    max-width: 540px;
    right: 0;
    top: 0;
    height: 100vh;        
    padding: 27px 24px 24px 48px;
    min-height: 100px;
    z-index: 12;
    transform: translate(101%, 0%);    
    transition: 0.5s;
    &.open {
      transform: translate(0%, 0%);
    }        
      display: block;
      li {
        margin-bottom: 20px;
        margin-right: 0;
      }
      a {
        font-size: 18px;
      }    
        
  }
  .hidden-mnu {
    display: block;      
    position: relative;
    z-index: 11;
  }
  .toggle-mnu {
    display: block;
    float: right;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 48px;
    display: block;
    width: 22px;
    height: 9px;
    margin: 0;    
  }
  .toggle-mnu:focus {
    outline: none;
  }
  .toggle-mnu span {
    position: relative;
    display: block;  
    transition: all 0.3s;    
    backface-visibility: hidden;
    width: 22px;
    height: 3px;   
    background: #000 
    
  }
  .toggle-mnu span {
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      width: 22px;
      height: 3px;   
      background: #a01f30;
      transition: all 0.3s;    
      backface-visibility: hidden;             
      border-radius: 1px;
    }
  }
  .toggle-mnu span:after {
    top: 7px;     
  }
  .toggle-mnu span:before {
top: -7px;
  }

  .toggle-mnu {      
    span {
      background-color: transparent;
      background-color: #a01f30;
    }
  }


  .toggle-mnu.on span:before    {
    transform: rotate(45deg) translate(5px, 5px);
    top: -6px;
  }
  .toggle-mnu.on span:after    {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 13px;
  }
  .toggle-mnu.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  .toggle-mnu.on {      
    span {
      background-color: transparent;      
    }
  }
  .revlist__name {
    font-size: 24px;
  }
  .revlist__comp {
   font-size: 15px; 
   margin-bottom: 15px;
  }
  .revlist__item {
    padding: 22px 27px 25px 29px;
  }
} //1199


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px 
  }
  .footmap {
    order: -1;
    height: 400px;
    width: 100%;
  }
  .footer {   
    flex-wrap: wrap; 
  }
  .footconts {
    width: 100%;
    padding: 40px;
  }
} //991

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }

  .revlist {
    margin-left: -6px;
    margin-right: -6px;
  }
  .revlist__col {
    padding: 0 6px;
    margin-bottom: 12px;
  }
  .revlist__text {
    font-size: 14px;
    padding: 0;
  }
  .revlist__item {
    padding: 20px 15px;
  }
  .revlist__name {
    font-size: 20px;
  }
  .revlist__comp {
    font-size: 14px;
  }
  .revform__actions-w {    
            flex-wrap: wrap;            
  }
  .revform__addfile {    
            flex: none;
  }
  .revform__btn {
    width: 100%;
    margin-right: 0;
  }
  .revform__actions {    
            order: -1;
            width: 100%;
            margin-bottom: 15px;
  }
  .revform__title {
    font-size: 29px;
    margin-bottom: 20px;
  }
  .revform {
    padding: 35px;
  }
  input[type="text"].revform__input {
    padding-left: 67px;
    height: 56px;
    &._phone {
    font-size: 16px;
    background: url("../img/input-bg-line.svg") no-repeat left 50px center, url("../img/input-phone.svg") no-repeat left 17px center;
    }
    &._name {
      background: url("../img/input-bg-line.svg") no-repeat left 50px center, url("../img/input-user.svg") no-repeat left 17px center;
    }
  }
  .revform__btn {
    height: 56px;
    font-size: 16px;
  }
  .revform__textarea {
    font-size: 16px;
  }

  .footconts__btn,
  input[type="text"].footconts__input {
    height: 56px;
    font-size: 16px;
  }
}  //767    

@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
  .top__row {    
            flex-wrap: wrap;
  }
  .top {
  .top__contacts {
   width: 100%; 
   order: 4;   
  }
}
  .col-mnu {
    margin-left: auto;
  }
  .header .top__contacts {
    margin-top: 10px;
  }
} 



@media only screen and (max-width : 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .revpage {
    padding-bottom: 40px;
  }
  .revpage__heading {
    text-align: center;
    margin-bottom: 17px;
  }
  .footconts {
    padding: 30px 20px;
  }
  .footconts__title {
    font-size: 27px;
  }
}//575

@media (max-width : 555px) {
  .footinfo {
    flex-wrap: wrap;                  
    margin-top: 25px;
            
  }
  .footer__contacts {
    margin-bottom: 20px;    
  }
  .footer__logo {
    width: 180px;
    margin-bottom: 20px;
  }
  .dev {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .top__mnu {
    padding-left: 30px;
  }
}



@media only screen and (max-width : 480px) {
  .footinfo {    
            align-items: center;
            flex-direction: column;
  }
  .logo {
    width: 100%;
    margin-right: 0;    
            flex-direction: column;
            margin-bottom: 5px;
  }  
  .col-mnu {
   order: -2;
  }
  .top__row {
    padding-top: 20px;
  }
  .logo__img-wrap {
    margin-right: 0;
  }
  .logo__slogan {
    text-align: center;
  }
  .top__contacts {   
            align-items: center; 
  }
  .revlist__col {
    width: 100%;
  }
  .revpage__heading {
    font-size: 23px;
  }
  .revform__title {
    font-size: 24px;
  }
  .revform {
    padding: 20px 15px;
  }
  .revform__actions {    
            flex-wrap: wrap;
            margin-bottom: 25px;
  }
  .revform__actions-w {
    margin-top: 11px;
  }
  .revform__addfile {
    width: 100%;
    margin-right: 0;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}//480

@media only screen and (max-width : 375px) {
  
}

@media only screen and (max-width : 360px) {
  
}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}


@media only screen and (min-width : 1200px) {
    .toggle-mnu {
    display: none;
  }
  .top__mnu {
    display: flex;
  }

  
} 


